
# Visual Studio
*.obj
*.user
*.userosscache
*.sln.docstates
*.rsuser
*.VC.VC.db
*.VC.db-shm
*.VC.db-wal
*.idb
*.ipch
*.ilk
*.pdb

# Rider / VS Code
.idea/
.vscode/

# Xcode
*.xcuserdata/
*.xcuserstate

# Temporary files
*.tmp
*.temp
*.bak
*.swp
*.swo

# Packaged builds
Builds/
PackagedBuilds/

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Linux
*~
.directory
